@import 'utils';
body {
  margin: 0;
  #modalRoot {
    position: relative;
    z-index: 999;
  }
}
.app-container {
  display: flex;
  justify-content: flex-start;
  background-color: $oc-blue-0;
}
.app-container_content {
  height: 100%;
  background-color: $oc-indigo-0;
  width: 100%;
  position: relative;
  margin-left: 0.1em;
}