@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/monokai.css';
@import 'utils';
.ReactCodeMirror {
    border: 0.1px solid $oc-violet-5;
    max-width: 560px;
    height: 800px;
}
